VITE_API_BASE_URL=http://localhost:5000/api
VITE_AUTH0_DOMAIN=dev-drh4iui2l24tmtsm.us.auth0.com
VITE_AUTH0_CLIENT_ID=your_auth0_client_id
VITE_AUTH0_AUDIENCE=https://your-api-identifier
VITE_AUTH0_GOOGLE_CONNECTION=google-oauth2